@import 'utils';
@import 'variables';
@import 'normalise';

body {
    //border-style: solid;
    //border-width: 4px;
    //border-color: #FF0000;
    background: black;
    color: white;
}

.container {
    @include inherit-height();

    .tutorial1, .tutorial2, .tutorial3, .tutorial4 {
        @include inherit-height();

        canvas {
            height: calc(100% - #{$H1-LINE-HEIGHT + 2 * $LINE-HEIGHT + 1px});
            width: 100%
        }
    }
}
