<!DOCTYPE html>
<html lang="en" ng-app="mainApp" ng-controller="rootController">
<head>
    <meta charset="utf-8" />
    <title>Webgl Examples</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/webglapi")
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/example1">Example 1</a></li>
                    <li><a href="#/example2">Example 2</a></li>
                    <li><a href="#/example3">Example 3</a></li>
                    <li><a href="#/example4">Example 4</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <script>
        angular.module('mainApp').value('basePath', '@VirtualPathUtility.ToAbsolute("~/")');
    </script>
    <div ng-view></div>
</body>
</html>
